<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/main.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="header">
  <a th:href="@{'/'}" th:class="logo">Logo</a>
  <div th:class="header-right">
    <a th:href="@{'/'}" th:text="'Anasayfa'"></a>
  </div>
</div>

<div class="container">

  <form th:method="post" th:action="@{'/user_kayit'}" th:object="${userDto}" >
    <label for="username" th:text="'Kullanıcı adı : '"></label>
    <input th:field="*{username}" type="text"  name="username"  id="username" required />
    <label for="password" th:text="'Şifre : '"></label>
    <input th:field="*{password}" type="password"  name="password"  id="password" required />
    <br>
    <br>
    <button th:text="'Kayıt ol'"></button>
  </form>
  <br>
  <br>
  <a href="/login" th:text="'Giriş yap'"></a>
</div>
</body>
</html>